In [45]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("D:/AI - Exercise/VietAI-x-CoderSchool/Week5/BTVN_4/ds_salaries.csv")

In [3]:
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [37]:
# Task 1:Job title nào có mức lương trung bình theo USD cao nhất
task1 = data.groupby(by="job_title")["salary_in_usd"].mean()
task1.idxmax()

'Data Analytics Lead'

In [53]:
#  Task 2: Data Scientist mang quốc tịch nào có mức lương trung bình cao nhất
data_scientist = data[data["job_title"] == "Data Scientist"]
task2 = data_scientist.groupby(by="employee_residence")["salary_in_usd"].mean()
task2.idxmax()

'US'

In [35]:
# Task 3: Có phải ở USA, nhân sự ngoại quốc nhận được mức lương trung bình cao hơn nhân sự trong nước không
company_us = data[data["company_location"] == "US"]
employee_us = company_us[company_us["employee_residence"] == "US"]["salary_in_usd"].mean()
employee_foreign = company_us[company_us["employee_residence"] != "US"]["salary_in_usd"].mean()
print(f'Nhân sự US: {employee_us} vs Nhân sự ngoại quốc: {employee_foreign}')

Nhân sự US: 148955.9 vs Nhân sự ngoại quốc: 79366.84

In [7]:
# Task 4: Mức lương trung bình của Data Engineer (SE level) ở các công ty nhỏ (S) và vừa (M) ở USA
data_engineer = data[(data["job_title"] == "Data Engineer") & (data["experience_level"] == "SE")]
task4 = data_engineer.groupby(by="company_size")["salary_in_usd"].mean()
task4

company_size
L    147248.416667
M    138352.770833
S     75114.666667
Name: salary_in_usd, dtype: float64

In [8]:
# Task 5: So sánh mức lương của Data Scientist ở USA ở các mức trình độ (experience_level) khác nhau
# EX > SE > MI > EN
data_scientist_us = data_scientist[data_scientist["company_location"] == "US"]
task5 = data_scientist_us.groupby(by="experience_level")["salary_in_usd"].median()
task5

experience_level
EN     95000.0
EX    416000.0
MI    120000.0
SE    158200.0
Name: salary_in_usd, dtype: float64

In [17]:
#  Task 6: Nhân sự là người nước ngoài chiếm tỉ lệ bao nhiêu phần trăm ở các công ty lớn ở USA
large_company_us = data[(data["company_size"] == "L") & (data["company_location"] == "US")]
employee = large_company_us[large_company_us["employee_residence"] != "US"]
print(f'{len(employee)*100/len(large_company_us)}%')

7.547169811320755%

In [41]:
#  Task 7: Tìm ra 3 job title có mức lương trung bình cao nhất ở level MI dành cho nhân sự trong nước
data_MI_native = data[(data["experience_level"] == "MI") & (data["company_location"] == data["employee_residence"])]
task7 = data_MI_native.groupby(by="job_title")["salary_in_usd"].mean().nlargest(3)
task7

job_title
Financial Data Analyst                450000.0
Applied Machine Learning Scientist    423000.0
Data Science Manager                  200000.0
Name: salary_in_usd, dtype: float64

In [39]:
# Task 8: Job nào ở Germany (DE) có mức lương trung bình thấp nhất
data_de = data[data["company_location"] == "DE"]
task8 = data_de.groupby(by="job_title")["salary_in_usd"].mean()
task8.idxmin()

'ML Engineer'

In [47]:
# Task 9: Job nào có khoảng cách thu nhập giữa SE và MI ít nhất
data_SE = data[data["experience_level"] == "SE"]
data_MI = data[data["experience_level"] == "MI"]

salary_SE = data_SE.groupby("job_title")["salary_in_usd"].median()
salary_MI = data_MI.groupby("job_title")["salary_in_usd"].median()

distance = np.absolute(salary_SE-salary_MI)
distance.idxmin()

'Machine Learning Developer'

In [244]:
#Task 10: Job nào có mức lương trung bình đều nằm trong top 5 ở tất cả các level
# => Không có job nào tương ứng
data_ex_lv = data.groupby(by=["job_title", "experience_level"])["salary_in_usd"].mean().unstack()

temp = [set(data_ex_lv.nlargest(5,level).index) for level in data_ex_lv.columns]
set.intersection(*temp)

set()

In [119]:
#  Task 11: Job nào có mức chênh lệch thu nhập trung bình giữa EN & EX level lớn nhất (chỉ tính các công ty nhỏ và vừa)
data_EN_SM = data[(data["experience_level"] == "EN") & (data["company_size"].isin(["S","M"]))]
data_EX_SM = data[(data["experience_level"] == "EX") & (data["company_size"].isin(["S","M"]))]

salary_job_EN = data_EN_SM.groupby(by="job_title")["salary_in_usd"].mean()
salary_job_EX = data_EX_SM.groupby(by="job_title")["salary_in_usd"].mean()
distance_11 = np.absolute(salary_job_EN - salary_job_EX)
distance_11.idxmax()

'Data Engineer'

In [127]:
#  Task 12: Nước nào trả lương cao nhất cho nhân sự nước ngoài
data_12 = data[data["company_location"] != data["employee_residence"]]
task12 = data_12.groupby(by="company_location")["salary_in_usd"].mean()
task12.idxmax()

'PL'

In [131]:
#Task 13: Có phải với cùng experience_level, các công ty quy mô càng lớn thì trả lương càng cao không
# => Không
task13 = data.groupby(by=["experience_level", "company_size"])["salary_in_usd"].mean().unstack()
task13

company_size                  L              M              S
experience_level
EN                 72813.241379   50321.800000   62185.310345
EX                221942.181818  178241.750000  201309.333333
MI                 98030.372093   90091.081633   51159.379310
SE                147591.013889  137815.596774  116026.727273

In [137]:
# Task 14: Sắp xếp các job title theo thứ tự tăng dần về thu nhập trung bình
task14 = data.groupby(by="job_title")["salary_in_usd"].mean()
task14.nlargest(len(task14))

job_title
Data Analytics Lead                         405000.000000
Principal Data Engineer                     328333.333333
Financial Data Analyst                      275000.000000
Principal Data Scientist                    215242.428571
Director of Data Science                    195074.000000
Data Architect                              177873.909091
Applied Data Scientist                      175655.000000
Analytics Engineer                          175000.000000
Data Specialist                             165000.000000
Head of Data                                160162.600000
Machine Learning Scientist                  158412.500000
Data Science Manager                        158328.500000
Director of Data Engineering                156738.000000
Head of Data Science                        146718.750000
Applied Machine Learning Scientist          142068.750000
Lead Data Engineer                          139724.500000
Data Analytics Manager                      127134.285714
Cloud Data Engineer                         124647.000000
Data Engineering Manager                    123227.200000
Principal Data Analyst                      122500.000000
ML Engineer                                 117504.000000
Machine Learning Manager                    117104.000000
Lead Data Scientist                         115190.000000
Data Engineer                               112725.000000
Research Scientist                          109019.500000
Data Scientist                              108187.832168
Computer Vision Software Engineer           105248.666667
Staff Data Scientist                        105000.000000
Machine Learning Engineer                   104880.146341
Machine Learning Infrastructure Engineer    101145.000000
Big Data Architect                           99703.000000
Data Analyst                                 92893.061856
Lead Data Analyst                            92203.000000
Marketing Data Analyst                       88654.000000
Lead Machine Learning Engineer               87932.000000
Machine Learning Developer                   85860.666667
Head of Machine Learning                     79039.000000
Business Data Analyst                        76691.200000
Data Science Engineer                        75803.333333
BI Data Analyst                              74755.166667
Data Science Consultant                      69420.714286
AI Scientist                                 66135.571429
Data Analytics Engineer                      64799.250000
Finance Data Analyst                         61896.000000
ETL Developer                                54957.000000
Big Data Engineer                            51974.000000
Computer Vision Engineer                     44419.333333
NLP Engineer                                 37236.000000
Product Data Analyst                         13036.000000
3D Computer Vision Researcher                 5409.000000
Name: salary_in_usd, dtype: float64

In [240]:
# Task 15: Liệt kê những job title có mức thu nhập trung bình cao nhất ở 1 quốc gia, nhưng lại nằm trong top 3 job có thu nhập trung bình thấp nhất ở
# 1 quốc gia khác

data_task15 = data.groupby(by=["company_location","job_title"])["salary_in_usd"].mean().unstack(0)

max_job={}
top3_job_lst={}
for country in data_task15.columns:
    sort_ct = data_task15[country].sort_values(ascending=False)
    max_job[country] = sort_ct.index[0] # job cao nhất
    top3_job_lst[country] = sort_ct.index[-3:] # top 3 job thấp nhất
task15 = []    
for m_ct, m_job in max_job.items():
    for top3_ct, top3_job in top3_job_lst.items():
        if m_ct != top3_ct and m_job in top3_job:
            task15.append(m_job)
            
print(set(task15))

{'Marketing Data Analyst', 'Product Data Analyst', 'Research Scientist', 'Principal Data Scientist'}